/* header */
.navbar {
  background-image: url(./resources/Banner\ Image.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("./resources/Banner\ Image.png");
  height: 600px;
  width: 1320px;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-items: center;
  border-radius: 16px;
}
.navbar h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
}
.navbar h1 {
  font-size: 72px;
  color: #ffffff;
  margin-top: -10px;
}
.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
}
.header-text h1 {
  font-size: 88px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ff0000;
}
.header-text h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ff0000;
  margin-top: -50px;
}
.header-text h3 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
}
.header-image {
  display: flex;
  justify-content: center;
}

/* main */
.main-header {
  background-image: url(./resources/Vectorrr.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./resources/Vectorrr.png");
  height: 600px;
  width: 1320px;
  display: flex;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  margin-top: 140px;
  border-radius: 16px;
}
.main-header h1 {
  font-size: 64px;
  color: #ffffff;
  font-family: sans-serif;
}
.main-header p {
  font-size: 18px;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-header button {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: none;
  color: #ffffff;
  border: none;
  margin-top: 10px;
  background-color: #ffc25c;
}
.address {
  background-color: #fceaea;
  margin-top: 120px;
  height: 482px;
  width: 1320px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 16px;
}
.address h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
.address button {
  font-size: 20px;
  font-weight: bold;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 7px;
  border: none;
  padding: 13px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-body {
  height: 463px;
  width: 1320px;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  text-align: center;
  text-align: left;
}
.main-body h4 {
  font-size: 24px;
  font-weight: 600;
  color: #ff0000;
  font-family: sans-serif;
}
.main-body h1 {
  font-size: 48px;
  color: black;
  margin-top: -10px;
}
.main-body p {
  color: #6d6d6d;
  margin-top: -20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main-body h2 {
  font-size: 48px;
  font-weight: 700;
  color: #ff0000;
  font-family: sans-serif;
}
.holiday {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.holiday h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: -50px;
}
.holiday h1 {
  font-size: 72px;
}
.holiday p {
  color: #6d6d6d;
  margin-top: -40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.only-image {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
.discount{
    display: flex;
   
}
.gift {
   width: 50%;
   position: relative;
}
.gift_img{
    width: 100%;
    position: absolute;
    bottom: -200px;
}
.discount_girl{
    position: relative;
    display: flex;
    width: 50%;
}
.girl{
    width: 80%;
  
}
.img50{
    position: absolute;
    left: -160px;
    bottom: 120px ;
}


.portfolio {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 80px;
}
.portfolio h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ff0000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio h1 {
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: -12px;
}
.portfolio p {
  margin-top: -20px;
  font-family: sans-serif;
  color: #6d6d6d;
}
.cards {
  margin-top: 80px;
  width: 1320px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: space-around;
  justify-self: center;
}
.cards div {
  height: 450px;
  width: 424px;
}
.footer-head {
  height: 500px;
  width: 1320px;
  background-color: #fceaea;
  border-radius: 16px;
  display: flex;
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-items: center;
}
.footer-head img {
  display: flex;
  justify-self: center;
}
.footer-head h1 {
  font-size: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-head p {
  color: #6d6d6d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -15px;
}
.footer-head form {
  margin-top: 30px;
}
.footer-head input{
  padding: 10px 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
}
.footer-head button{
  padding: 15px 60px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  background-color: #ff0000;
  color: #fceaea;
  font-weight: 500;
}
.form{
  display: flex;
  justify-content: center;
  border: none;
  
}
.footer-foot {
  background-color: #070211;
  height: 600px;
  width: 1600px;
  margin-top: 100px;
}
.number{
  padding-top: 100px;
  color: #fceaea;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 1150px;   
}
.contact{

}
.call{
  display: flex;
  margin-bottom: 15px;
  gap: 8px;
}
.website{
  display: flex;
  gap: 8px;
}
.icon {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.icons {
  margin-left: 10px;
  margin-right: 10px;
}
.last-foot{
  color: #ffffff;
  font-size: 22px;
  display: flex;
  margin-top: 100px;
  width: 1150px;
  justify-content: space-between;
  justify-self: center;
}